.NavbarItems {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  width: 95%;
  height: 85px;
  border-radius: 13px;
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
}

.NavbarItems ul {
  list-style-type: none;
  display: flex;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 6px;
  list-style-type: none;
}

.nav-links {
  text-decoration: none;
  padding: 0.7rem 1rem;
  color: #000;
  font-size: 1.2rem;
  font-weight: 600;
  white-space: nowrap;
}

.nav-links i {
  padding-right: 5px;
}

.nav-links:hover {
  background-color: #01959a;
  color: #fff;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

button {
  padding: 0.3rem 0.3rem;
  white-space: nowrap;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  color: black;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

button:hover {
  background-color: #01959a;
  color: white;
}

button a {
  text-decoration: none;
  color: black;
  margin-bottom: 3px;
}

.menu-icons {
  display: none;
}

@media screen and (max-width: 850px) {
  .NavbarItems {
    position: relative;
    z-index: 99;
  }

  .NavbarItems ul {
    list-style-type: none;

  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
    align-items: center;
    padding: 6rem 1rem 20rem 0rem;
    margin: 0;
    transition: all;
  }

  .nav-menu.active {
    left: 0;
    opacity: 1;
    z-index: -1;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }

  .nav-menu li {
    width: 100%;
    text-align: center;
  }

  .nav-menu.active:hover {
    cursor: pointer;
  }

  .nav-links {
    margin-top: 1rem;
    display: block;
    width: 100%;
    font-size: 1.2rem;
    box-shadow: grey;
  }

  .nav-links:hover {
    background: #01959a;
  }

 
  .nav-links-mobile {
    display: block;
    text-align: center;
    justify-content: center;
    margin: auto;
    border-radius: 4px;
    text-decoration: none;
    padding: 1.5rem;
    width: 100%;
    background: #01959a;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
  }

  .menu-icons {
    display: block;
  }

  .NavbarItems {
    transform: translate(-50%);

  }
}